.header, .footer{
  background-color: #707070;
}

.footer{
  min-height: 200px;
}

.header.navbar, .footer.navbar{
  justify-content: center;
  flex-direction: column;
}

.header.navbar{
  padding: 70px 16px 50px 16px;
}

div .row{
  margin: 0;
  justify-content: center;
}

.text-container.row{
  flex-direction: column;
  align-items: center;
}

.footer .text-container p{
  margin: 0;
  font-size: 12px;
}

.btn{
  margin: 0 20px;
}

.card-button.btn{
  margin: 0;
  padding: 0 12px;
  width: -webkit-fill-available;
  background-color: #fff;
  color: #888888;
  border-color: #707070;
}

.header .default-button{
  width: 160px;
  height: 40px;
}

.default-button.btn{
  background-color: #fff;
  color: #888888;
  border-color: #707070;
}

.next-button.btn{
  margin: 30px;
}

.newsletter-input.form-group{
  margin: 30px 15px;
}

.card > img{
  border: solid 1px #707070;
}

div .card{
  border: 0;
  max-width: 201px;
  max-height: 350px;
  margin: 0 20px 40px 20px;
}

.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.newsletter-container{
  margin: 150px 0;
}

.newsletter-button, .next-button{
  width: 260px;
}

/* Text */

div .container{
  color: #888888;
}

.text-container > h1{
  font-weight: bold;
}

.header .text-container,.footer .text-container{
  color: #fff;
}

.header .text-container{
  margin-bottom: 50px;
}

.header .text-container p:first-child{
  margin: 0;
  font-size: 20px;
}

.header .text-container p:last-child{
  margin: 24px 0 0 0;
  font-size: 14px;
}

div {
  font-family: Arial, Helvetica, sans-serif;
}

.card-content{
  font-size: 12px;
}
.card-content >.card-title{
  margin-top: 14px;
  font-size: 14px;
}

div .card-subtitle{
  margin-bottom: 5px;
}

.card-content >.card-price{
  font-size: 16px;
  font-weight: bold;
}

.container-title{
  margin: 50px;
  font-weight: bold;
}

.newsletter-container .text-container p:first-child{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 44px;
}

.newsletter-container .text-container p:last-child{
  font-size: 14px;
}

.newsletter-input label{
  font-size: 12px;
}

.newsletter-input input{
  width: 340px;
  border-radius: 0;
}