.header, .footer{
  background-color: #707070;
}

.header.navbar, .footer.navbar{
  justify-content: center;
}

div .row{
  margin: 0;
  justify-content: center;
}

.text-container.row{
  flex-direction: column;
  align-items: center;
}

.btn{
  margin: 20px;
}

.newsletter-input.form-group{
  margin: 30px 15px;
}